.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 120px;
  margin-top: -15px;
  width: 140.38px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 40px;
  min-width: 140.38px;
  width: auto;
  background-color: white;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px #515151;
  text-decoration: none;
  position: absolute;
  overflow: visible;
  cursor: pointer; }

li a {
  color: #000;
  text-decoration: none;
  position: relative;
  cursor: pointer; }

li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer; }

li:last-child {
  border-bottom: none;
  position: relative;
  cursor: pointer; }

li:hover {
  background-color: #e5e5e5;
  color: white;
  position: relative;
  cursor: pointer; }

.dropdown-button {
  letter-spacing: -0.5px;
  font-size: 12px;
  width: 140.38px;
  height: 40px;
  background-color: #4AC68E;
  padding: 12px 0px 0px 24px;
  color: white;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }
  .dropdown-button:hover {
    background-color: #3D9970;
    cursor: pointer; }
  .dropdown-button:active {
    box-shadow: none;
    top: 7px; }
  .dropdown-button:focus {
    outline: none; }

.dropdown-button:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 10px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right: 4px;
  top: 17px; }
