.header-column {
  background-color: #515151;
  margin-top: -2px;
  box-shadow: 0 5px 0 #383838;
  height: 40px;
  z-index: 201;
  position: relative; }

.plugin-app-button {
  font-size: 12px;
  background-color: #4AC68E;
  color: white;
  padding: 0.83em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border: #4AC68E;
  letter-spacing: -1px;
  margin-left: -10px;
  position: absolute;
  margin-top: -13px; }
  .plugin-app-button:hover {
    background-color: #3D9970;
    cursor: pointer; }
  .plugin-app-button:active {
    box-shadow: none;
    top: 18px; }
  .plugin-app-button:focus {
    outline: none; }

.header-text {
  display: flex;
  justify-content: center;
  align-items: center; }

.current-project {
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: default; }

.project-name {
  color: #4AC68E;
  font-weight: 700;
  margin-top: -17px;
  margin-left: 10px;
  cursor: text;
  font-size: 16px; }

.download-button {
  float: right;
  font-size: 12px;
  background-color: #2F4454;
  color: white;
  padding: 0.65em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -45px;
  border-radius: 6px;
  text-align: center;
  border: #2F4454;
  letter-spacing: -1px; }
  .download-button:hover {
    background-color: #3D9970;
    cursor: pointer; }
  .download-button:active {
    box-shadow: none;
    top: 5px; }
  .download-button:focus {
    outline: none; }

.save-button-generator {
  float: right;
  font-size: 12px;
  background-color: #2F4454;
  color: white;
  padding: 0.65em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -45px;
  border-radius: 6px;
  text-align: center;
  margin-right: 104px;
  border: #2F4454;
  letter-spacing: -1px; }
  .save-button-generator:hover {
    background-color: #3D9970;
    cursor: pointer; }
  .save-button-generator:active {
    box-shadow: none;
    top: 5px; }
  .save-button-generator:focus {
    outline: none; }

a:hover {
  background-color: #2F4454;
  cursor: pointer;
  color: white; }
a:active {
  box-shadow: none;
  top: 5px;
  colr: white; }
