@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
.body {
  font-family: "Lato", verdana, sans-serif;
}

.split {
  width: 17.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 10px;
  background-color: #379683;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.whitetext {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  font-size: 30px;
}
