.header-column {
  background-color: #515151;
  margin-top: -2px;
  box-shadow: 0 5px 0 #383838;
  height: 47px;
  overflow: hidden;
}

.header-link {
  text-align: center;
  size: 50px;
}

.project-selection-link {
  float: left;
  background-color: #4AC68E;
  color: white;
  padding: 0.5em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -5px;
  border-radius: 6px;
  text-align: center;
}

.plugin-link {
  float: right;
  background-color: #4AC68E;
  box-shadow: 0 5px 0 #3D9970;
  color: white;
  padding: 1em 2.526em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -13px;
}

.generator-link {
  float: left;
  background-color: #4AC68E;
  box-shadow: 0 5px 0 #3D9970;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: -13px;
}

a:hover {
  background-color: #3D9970;
  cursor: pointer;
}
a:active {
  box-shadow: none;
  top: 5px;
}
