.project-body {
  height: 100%;
  width: 100%;
  background-color: #2E2E2E;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 44px;
  opacity: 1;
}

.project-button-container {
  text-align: center;
  margin-top: 40vh;
}

.new-project-link {
  font-size: 12px;
  background-color: #4AC68E;
  box-shadow: 0 5px 0 #3D9970;
  color: white;
  padding: 1em 4em;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #3D9970;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
