@import ../../_colors.sass

.header-column 
  background-color: $light_gray
  margin-top: -2px
  box-shadow: 0 5px 0 $light_gray_shadow
  height: 40px
  z-index: 201
  position: relative

.plugin-app-button
  font-size: 12px
  background-color: $teal
  color: white
  padding: 0.83em 2.0em
  text-decoration: none
  text-transform: uppercase
  border: $teal
  letter-spacing: -1px
  margin-left: -10px
  position: absolute
  margin-top: -13px
  &:hover 
    background-color: $dark_teal
    cursor: pointer
  &:active 
    box-shadow: none
    top: 18px
  &:focus 
    outline: none

.header-text 
  display: flex
  justify-content: center
  align-items: center

.current-project
  color: white
  font-weight: 700
  font-size: 16px
  cursor: default
  
.project-name
  color: $teal
  font-weight: 700
  margin-top: -17px
  margin-left: 10px
  cursor: text
  font-size: 16px

.download-button
  float: right
  font-size: 12px
  background-color: $dark_blue
  color: white
  padding: .65em 1.5em
  position: relative
  text-decoration: none
  text-transform: uppercase
  margin-top: -45px
  border-radius: 6px
  text-align: center
  border: $dark_blue
  letter-spacing: -1px
  &:hover 
    background-color: $dark_teal
    cursor: pointer
  &:active 
    box-shadow: none
    top: 5px
  &:focus 
    outline: none

.save-button-generator
  float: right
  font-size: 12px
  background-color: $dark_blue
  color: white
  padding: .65em 1.5em
  position: relative
  text-decoration: none
  text-transform: uppercase
  margin-top: -45px
  margin-right: 225px
  border-radius: 6px
  text-align: center
  border: $dark_blue
  letter-spacing: -1px
  &:hover 
    background-color: $dark_teal
    cursor: pointer
  &:active 
    box-shadow: none
    top: 5px
  &:focus 
    outline: none

a 
  &:hover 
    background-color: $dark_blue
    cursor: pointer
    color: white
  &:active 
    box-shadow: none
    top: 5px
    colr: white

.load-button-generator
  float: right
  font-size: 12px
  background-color: $dark_blue
  color: white
  padding: .65em 1.5em
  position: relative
  text-decoration: none
  text-transform: uppercase
  margin-top: -45px
  margin-right: 104px
  border-radius: 6px
  text-align: center
  border: $dark_blue
  letter-spacing: -1px
  &:hover 
    background-color: $dark_teal
    cursor: pointer
  &:active 
    box-shadow: none
    top: 5px
  &:focus 
    outline: none

a 
  &:hover 
    background-color: $dark_blue
    cursor: pointer
    color: white
  &:active 
    box-shadow: none
    top: 5px
    colr: white

  
