 .dropdown {
     position: relative;
     display: inline-block;
}

.project-dropdown-container {
    text-align: center;
    margin-top: 2vh;
}

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     top: 52px;
     right:-1px;
     width: 201.11px;
     background-color: white;
     font-weight:bold;
     position: absolute;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 li a {
     color: #000;
     text-decoration: none;
}
 li {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
 li:last-child {
     border-bottom: none;
}
 li:hover {
     background-color: #e5e5e5;
     color: white;
}
 .button{
     width: 201.11px;
     height:47px;
     background-color:#4AC68E;
     padding:12px;
     color:white;
     box-shadow: 0 5px 0 #3D9970;
     text-transform: uppercase;
     cursor: pointer;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
 .button:before{
     content:"";
     position:absolute;
     width:0px;
     height:0px;
     border: 10px solid;
     border-color: white transparent transparent transparent;
     right:6px;
     top:18px;
}
